.DS_Store
objdir
dist
avrdude-6.3.tar.gz
avrdude-6.3
libelf-0.8.13.tar.gz
libelf-0.8.13
libftdi1-1.4.tar.bz2
libftdi1-1.4
libusb-1.0.24.tar.bz2
libusb-1.0.24
libusb-compat-0.1.5.tar.bz2
libusb-compat-0.1.5
libusb-win32-bin-1.2.6.0.zip
libusb-win32-bin-1.2.6.0
ncurses-5.9.tar.gz
ncurses-5.9
readline-6.3.tar.gz
readline-6.3
